/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
	margin: 0;
	padding: 0;
	/*list-style-type: none;*/
	line-height: 1.5;
	
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-weight: normal;
	color: black;

	box-sizing: border-box;

	/*text-align : center;*/
}

.wireframe-outline {
  margin: 5px;
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

body {
  margin: 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

li {
  text-align: left;
}

.submit-button {
  text-align: center; 
}

header {
  margin: 50%;
  flex: 1;
}

main {
  flex: 1;
}



h1{

  text-align: center;
}

ul{

  text-align: center;
  list-style: inside;

  list-style: none;
}

ul li{

  margin: 0px 0px 10px 0px;
}

#question-prompt
{
  text-align: center;
}
