/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

h1{

  text-align: center;
}

ul{

  text-align: center;
  list-style: inside;

  list-style: none;
}

ul li{

  margin: 0px 0px 10px 0px;
}

#question-prompt
{
  text-align: center;
}