/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
	
	
	
	/*font-family: 'Source Sans Pro', sans-serif;*/
	
  
  
	box-sizing: border-box;

	/*text-align : center;*/
}

.wireframe-outline {
  /*border-color: red;
  border-width: 2px;
  border-style: solid;*/
}

.wrapper {
  background-color: #d9caa9;
  padding: 30px 20px;
  height: 100vh;
  display: flex;
  flex-flow: column; 
  align-items: center;
  justify-content: center;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: black;
  list-style-type: none;
  line-height: 1.5; 
  margin: 0;
	padding: 0;
}

header h1{
  text-align: center;
  background-color: #fafafa;
  opacity: 0.5;
}

main {
  background-color: #fafafa;
  opacity: 0.5;
  font-size: 20px;
}

main div {
  margin-bottom: 30px;
  margin-top: 20px;
  
}

#question-prompt
{
  text-align: center;
}

#answer-section form {
  display: flex;
  flex-direction: column;
}

#answer-section div {
  margin-top: 20px;
}

.submit-button {
  width: 90px;
  margin: auto;
  margin-top: 20px;
}

ul{
  list-style: inside;
  list-style: none;
  width: 200px;
  margin: auto;
}

li {
  margin-bottom: 10px;
  text-align: left;
}

li input {
  margin: 5px;
}


@media only screen and (max-width: 600px) {

}
